body{
    background: #ffffff;
}

.background-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    /* min-height: 100%; */
}

.tagline-1 { font-size:6vw; }

.tagline-2 { font-size:4vw; }

hr {
    margin-top: 5em;
    margin-bottom: 5em;
}