body{
    background: #ffffff;
}

.background-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    /* min-height: 100%; */
}

.tagline-h1 {
    font-size: 7vw;
}

.tagline-p {
    font-size: 4vw;
}

hr {
    margin-top: 5em;
    margin-bottom: 5em;
}