<!-- your html code here -->
<div class="container text-center text-md-start">
    <hr>
    <h1>Contact</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Velit ut tortor pretium viverra suspendisse potenti nullam ac.
        Vel quam elementum pulvinar etiam non quam lacus suspendisse.
    </p>
    <form>
        <div class="card col-sm-9 mx-auto mb-3">
            <div class="card-body bg-body-tertiary">
                <div class="row mb-3">
                    <label for="inputEmail" class="col-sm-12 col-lg-2 text-lg-end col-form-label"><strong>Your Email</strong></label>
                    <div class="col-sm-12 col-lg-10">
                        <input type="email" class="form-control text-center text-md-start" id="inputEmail" placeholder="Your email">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputTextarea" class="col-sm-12 col-lg-2 text-lg-end col-form-label"><strong>Your message</strong></label>
                    <div class="col-sm-12 col-lg-10">
                        <textarea class="form-control text-center text-md-start" id="inputTextarea" rows="3" placeholder="Please enter your message here..."></textarea>
                    </div>
                </div>
                <div class="col text-center text-md-end">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>