<!-- your html code here -->
<div class="container py-5 col-10">
    <hr>
    <div class="row">
        <div class="col-md-8">
            <h1>This First Heading <span class="text-secondary">Will Catch Your Eye</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Malesuada fames ac turpis egestas integer. Nunc sed blandit libero volutpat sed cras ornare arcu dui. Viverra accumsan in nisl nisi.</p>
        </div>
        <div class="col-md-4">
            <img src="./assets/img/1.jpg" class="rounded-circle w-100 mx-auto d-block" alt="...">
        </div>
    </div>
</div>