<!-- your html code here -->
<div class="container">
    <h3>Portfolio</h3>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
        commodo cursus
        magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <img src="./assets/img/big-project-image.png" class="img-fluid" alt="...">
            <h4 class="text-primary">Project</h4>
            <p>Project Name
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam viverra euismod odio, gravida pellentesque urna
                varius vitae.</p>
        </div>
    
        <div class="col-sm-12 col-md-4 col-lg-4">
            <img src="./assets/img/big-project-image.png" class="img-fluid" alt="...">
            <h4 class="text-primary">Project</h4>
            <p>Project Name
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam viverra euismod odio, gravida pellentesque urna
                varius vitae.</p>
        </div>
        
        <div class="col-sm-12 col-md-4 col-lg-4">
            <img src="./assets/img/big-project-image.png" class="img-fluid" alt="..." 1>
            <h4 class="text-primary">Project</h4>
            <p>Project Name
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nam viverra euismod odio, gravida pellentesque urna
                varius vitae.</p>
        </div>
        </div>
    </div>
   



</div>