<!-- your html code here -->


<div class="container">
    <div class="row">
        <div class="col-md-4  ">
            <img src="./assets/img/2.jpg" class="rounded-circle" alt="rounded image">
        </div>
        <div class="col-md-8 mt-0 pt-0">
            <h4>Header</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor suscipit mauris in hendrerit. Fusce
                sodales aliquam enim, vel scelerisque tellus lacinia ut. Sed non quam eu lectus commodo bibendum in a
                ante. Suspendisse nec ante euismod, consequat libero at, consectetur leo.</p>
        </div>
    </div>
</div>


