<!-- your html code here -->
<div class="container">
    <hr>
    <div class="row flex-column-reverse flex-md-row">
        <div class="col-md-4">
            <img src="./assets/img/2.jpg" class="rounded-circle w-100" alt="...">
        </div>
        <div class="col-md-8 text-center text-md-start">
            <h1>The second Heading<span class="text-secondary"> Is Pretty Cool Too</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor suscipit mauris in hendrerit. Fusce
                sodales aliquam enim, vel scelerisque tellus lacinia ut. Sed non quam eu lectus commodo bibendum in a
                ante. Suspendisse nec ante euismod, consequat libero at, consectetur leo.</p>
        </div>
    </div>
</div>